Repository qbem-repos/standards, changes with the owners that .github/CODEOWNERS names for each.
All owners: @otechmista, @vshmarques, @cesarvieiraqbem, @nolrenan, @wanderms25, @Solangetatiana

.github/CODEOWNERS:

# .github/CODEOWNERS
# Repositório: qbem-repos/standards
# Donos de código por área de padrão

# --- Geral (review final obrigatório de CTO) ---
* @otechmista

# --- APIs HTTP ---
/apis/ @vshmarques @cesarvieiraqbem

# --- Webhooks ---
/webhooks/ @vshmarques @cesarvieiraqbem

# --- Eventos/Assíncrono ---
/async/ @vshmarques @nolrenan @cesarvieiraqbem

# --- Observabilidade ---
/observability/ @wanderms25 @vshmarques

# --- Segurança ---
/security/ @wanderms25 @vshmarques

# --- UI/Frontend (se houver docs específicos) ---
/frontend/ @Solangetatiana

# --- Tooling (linters, pre-commit, spectral, etc) ---
/tooling/ @vshmarques @wanderms25

# --- ADRs ---
/adr/ @otechmista @vshmarques

Improve formatting in documentation files
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  GOVERNANCE.md 
  adr/0002-casdoor.md
  async/conventions.md
  async/examples/order-paid.proto
  async/examples/payment-failed.json
  async/examples/user-created.asyncapi.yaml
  async/headers.md
  async/reliability.md
  async/schema-evolution.md
  async/security.md
  checklists/.keep
  frontend/.keep
  observability/.keep
  security/.keep
  webhooks/.keep
Owners: @otechmista, @vshmarques, @nolrenan, @cesarvieiraqbem, @Solangetatiana, @wanderms25

Add minimal OpenAPI spec and user API example files
  apis/examples/openapi-min.yaml
  apis/examples/request-create-user.json
  apis/examples/response-error.json
  apis/examples/response-user.json
Owners: @vshmarques, @cesarvieiraqbem

Add Postman collection for QBEM Users API examples
  apis/examples/qbem-api.postman_collection.json
Owners: @vshmarques, @cesarvieiraqbem

Add README files for ADRs, APIs, and async messaging
  adr/0000-template.md
  adr/0001-casdoor.md
  adr/README.md
  apis/README.md
  async/README.md
Owners: @otechmista, @vshmarques, @cesarvieiraqbem, @nolrenan

Delete .github/workflows directory
  .github/workflows/docs-ci.yml
Owners: @otechmista

Delete .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @otechmista

Delete .github/ISSUE_TEMPLATE directory
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/rfc.md 
Owners: @otechmista

Rename GOVERNANCE.md to GOVERNANCE.md
  GOVERNANCE.md
Owners: @otechmista

Add AI context document for Standards QBEM Add AI context and update docs to qbem.net.br
  .ai/context.md
  apis/conventions.md
  apis/error-model.md
  apis/examples/openapi-min.yaml
  apis/examples/qbem-api.postman_collection.json
  apis/examples/response-error.json
  apis/openapi-style-guide.md
  apis/versioning.md
  async/headers.md
Owners: @otechmista, @vshmarques, @cesarvieiraqbem, @nolrenan

Revamp README with comprehensive standards guide
  README.md
  async/examples/order-paid.proto
Owners: @otechmista, @vshmarques, @nolrenan, @cesarvieiraqbem

Add observability guides and expand API/async docs
  apis/README.md
  async/README.md
  observability/.keep
  observability/README.md
  observability/alerts.md
  observability/dashboards.md
  observability/logs.md
  observability/metrics.md
  observability/tracing.md
Owners: @vshmarques, @cesarvieiraqbem, @nolrenan, @wanderms25

Add observability examples, tooling and security
  README.md
  observability/README.md
  observability/examples/README.md
  observability/examples/dotnet/LoggingConfiguration.cs
  observability/examples/dotnet/MetricsConfiguration.cs
  observability/examples/dotnet/TracingConfiguration.cs
  observability/examples/grafana/dashboard-red.json
  observability/examples/log-format.json
  observability/examples/metrics-http.prom
  observability/examples/prometheus/alerts.yml
  observability/examples/python/logging_config.py
  observability/examples/python/metrics_config.py
  observability/examples/python/tracing_config.py
  observability/examples/trace-span.json
  observability/tools.md
  observability/tracing.md
  security/.keep
  security/README.md
  security/api-security.md
  security/auth.md
  security/data-protection.md
  security/secrets-management.md
  tooling/README.md
  tooling/observability/grafana/validate-dashboard.sh
  tooling/observability/opentelemetry/config-schema.json
  tooling/observability/opentelemetry/validate-config.sh
  tooling/observability/prometheus/metrics-naming.yml
  tooling/observability/prometheus/validate-rules.sh
Owners: @otechmista, @wanderms25, @vshmarques

Add MkDocs site and GitHub Pages deployment
  .github/PAGES_SETUP.md
  .github/docs/README.md
  .github/docs/extra.css
  .github/workflows/deploy-docs.yml
  .gitignore
  DEVELOPMENT.md
  README.md
  apis/index.md
  async/index.md
  checklists/README.md
  frontend/README.md
  mkdocs.yml
  observability/README.md
  requirements.txt
  tooling/README.md
  webhooks/README.md
Owners: @otechmista, @vshmarques, @cesarvieiraqbem, @nolrenan, @Solangetatiana, @wanderms25

Migrate documentation from MkDocs to Jekyll
  .github/docs/README.md
  .github/docs/extra.css
  .github/workflows/deploy-docs.yml
  .gitignore
  README.md
  _config.yml
  assets/css/style.scss
  mkdocs.yml
  requirements.txt
Owners: @otechmista

Migrate documentation from MkDocs to JekyllSwitch docs from MkDocs to native Jekyll
  .github/PAGES_SETUP.md
  .gitignore
  DEVELOPMENT.md
  README.md
  _config.yml
  apis/index.md
  assets/css/style.scss
  async/index.md
Owners: @otechmista, @vshmarques, @cesarvieiraqbem, @nolrenan

Revise README, update theme and remove CSS
  README.md
  _config.yml
  assets/css/style.scss
Owners: @otechmista

Add AI policy; remove ADRs and tidy README
  README.md
  adr/0000-template.md
  adr/0001-casdoor.md
  adr/README.md
  best-practices/ai-coding.md
Owners: @otechmista, @vshmarques

Add AI policy and rename ADRs in README
  README.md
Owners: @otechmista

Update Playbook and Tighten AI Coding Guidelines
  README.md
  best-practices/ai-coding.md
Owners: @otechmista

DESKTOP-M04QG5S 2026-3-13:12:14:10
  .obsidian/workspace.json
  CODE_OF_CONDUCT.md
Owners: @otechmista

DESKTOP-M04QG5S 2026-3-16:11:26:58
  .obsidian/workspace.json
  best-practices/git-repository-naming.md
Owners: @otechmista

DESKTOP-M04QG5S 2026-3-16:16:45:57
  best-practices/git-repository-naming.md
Owners: @otechmista

DESKTOP-M04QG5S 2026-3-16:16:49:25
  .obsidian/workspace.json
  README.md
Owners: @otechmista
